  <div class="container mt-4">


    <div class="row mt-2 mb-1">
  <div class="col-md-3">


    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>




 <!-- insert here --->
 
      <div class="form-group">
        <label for="q_cuisine_id_eq_any">Cuisine</label>






<% @cuisines.each do |cuisine| %>
            <div class="checkbox">
            <label>
              <input type="checkbox" name="q[cuisine_id_eq_any][]" id="q_cuisine_id_eq_any_" value="<%= cuisine.id %>" />
             <%= cuisine.name %>
            </label>
          </div>
<% end %>
          
      </div>
      
      <!-- insert here --->


      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>


      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>






  <div class="col-md-6">
    <div class="card">
      <table class="table table-striped table-hover">
        <tr>
          <th>
            The very best...
          </th>

          <th>
            is at...
          </th>

          <th>

          </th>
        </tr>
        <tr>
          <td>
            <a href="/dishes/2507">
              Bagel
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="NOlLOhVvQB2t0WRM3mq7YXIk3lgqOFgt2j74LdvTGqE8bLb4oP6pae9WEKPqwvqtcrtIqQimO0azOaRwr/rG8Q==">


                <input type="hidden" name="dish_id" value="2507">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2518">
              Banana Split
            </a>
          </td>

          <td>
              <a href="/venues/2644">
                Margie&#39;s Candies
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Dessert
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2532">
              Biscuits and Gravy
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="XRI3JliLLvyxM8PDXBLSIIlEZ/jaFex99aRRoxMH1MRVl8rk7RrHiPO0tyxoupPsidvxCfiLjxacow3+Zy4IlA==">


                <input type="hidden" name="dish_id" value="2532">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2522">
              Bloody Mary
            </a>
          </td>

          <td>
              <a href="/venues/2640">
                Handlebar
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2509">
              Burger
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="2+1+J19LGveWhgAzywOGAGEdcrA/l4YsoJkh0Ttt5y3TaIPl6trzg9QBdNz/q8fMYYLkQR0J5UfJnn2MT0Q7fQ==">


                <input type="hidden" name="dish_id" value="2509">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2513">
              Charcuterie
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="b4zdV4RbCZoidNpDEWSQd6Uihn8srbyKMjQkYrscap5nCSCVMcrg7mDzrqwlzNG7pb0Qjg4z3+FbM3g/zzW2zg==">


                <input type="hidden" name="dish_id" value="2513">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              French
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2531">
              Chicken Tikka Masala
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="tgos0Mr3WskABLfTIaBzK2fWEhEqC0epayOdWgUGKqu+j9ESf2azvUKDwzwVCDLnZ0mE4AiVJMICJMEHcS/2+w==">


                <input type="hidden" name="dish_id" value="2531">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Indian
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2508">
              Chili
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="NGuGSKQm7qPX07pFr3EkLWhKzVh1xsnL+wwOQOxqUrs87nuKEbcH15VUzqqb2WXhaNVbqVdYqqCSC1IdmEOO6w==">


                <input type="hidden" name="dish_id" value="2508">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2527">
              Creme Brulee
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="MfRa1smE2WgdJkpNWcgwabGXIho8AqK/4TNve1URYvQ5cacUfBUwHF+hPqJtYHGlsQi06x6cwdSINDMmITi+pA==">


                <input type="hidden" name="dish_id" value="2527">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Dessert
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2521">
              Fried Pickles
            </a>
          </td>

          <td>
              <a href="/venues/2640">
                Handlebar
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2512">
              Fruit Bowl
            </a>
          </td>

          <td>
              <a href="/venues/2646">
                Kanela Breakfast Club
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Salad
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2529">
              Gin and Tonic
            </a>
          </td>

          <td>
              <a href="/venues/2632">
                Longman &amp; Eagle
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2511">
              Gnocchi
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="zmqTkfkqTaGezaswnU5dSmUrRVCbklFHh3cDVnLGPWrG725TTLuk1dxK39+p5hyGZbTTobkMMizucF8LBu/hOg==">


                <input type="hidden" name="dish_id" value="2511">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Italian
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2516">
              Grits
            </a>
          </td>

          <td>
              <a href="/venues/2650">
                The Southern
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2526">
              Lamb Chops
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="Rl5e0tixCVWzQGXbsMsblBWRtYIXzw8F1cv+JvddD71O26MQbSDgIfHHETSEY1pYFQ4jczVRbG68zKJ7g3TT7Q==">


                <input type="hidden" name="dish_id" value="2526">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Classic
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2510">
              Michelada
            </a>
          </td>

          <td>
              <a href="/venues/2652">
                Big Star
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2530">
              Mussels
            </a>
          </td>

          <td>
              <a href="/venues/2631">
                Lockdown Bar &amp; Grill
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Seafood
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2525">
              Negroni
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="m3cW405FTS1SJSV1NeYHHHLQk8k0Thqpe+5HF1xO2H6T8ush+9SkWRCiUZoBTkbQck8FOBbQecIS6RtKKGcELg==">


                <input type="hidden" name="dish_id" value="2525">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2520">
              Old Fashioned
            </a>
          </td>

          <td>
              <a href="/venues/2641">
                The Whistler
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2528">
              Pancakes
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="jhtlsgb0nVgdW5CPKub5HQjE1O5OvT5KG35I9nWHtjCGnphws2V0LF/c5GAeTrjRCFtCH2wjXSFyeRSrAa5qYA==">


                <input type="hidden" name="dish_id" value="2528">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2515">
              Pot Pie
            </a>
          </td>

          <td>
              <a href="/venues/2649">
                Pleasant House Bakery
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Classic
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2517">
              Ramen
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="ilH17vOuFzgY4y3EeLNpSDuZ+6/yuoe7XShIRclq/mWC1AgsRj/+TFpkWStMGyiEOwZtXtAk5NA0LxQYvUMiNQ==">


                <input type="hidden" name="dish_id" value="2517">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Japanese
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2523">
              Spaghetti
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="tIcRPMYYLp2E6UH5GK1bTdpnyuKGI/ZtQkq6wYLrNzK8Auz+c4nH6cZuNRYsBRqB2vhcE6S9lQYrTeac9sLrYg==">


                <input type="hidden" name="dish_id" value="2523">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Italian
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2514">
              Tres Leches
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="uQzhDNOpSU2QhDPacNJCT9pR9SvDl7TZdSP9V9ehv6qxiRzOZjigOdIDRzVEegOD2s5j2uEJ17IcJKEKo4hj+g==">


                <input type="hidden" name="dish_id" value="2514">
                <input type="hidden" name="user_id" value="472">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="2655">Au Cheval</option>
<option value="2638">Balena</option>
<option value="2654">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="2652">Big Star</option>
<option value="2636">Billy Sunday</option>
<option value="2635">Chicago Cut Steakhouse</option>
<option value="2640">Handlebar</option>
<option value="2646">Kanela Breakfast Club</option>
<option value="2634">Little Goat</option>
<option value="2631">Lockdown Bar &amp; Grill</option>
<option value="2632">Longman &amp; Eagle</option>
<option value="2644">Margie&#39;s Candies</option>
<option value="2645">MAX&#39;s Wine Dive</option>
<option value="2648">Mott St</option>
<option value="2649">Pleasant House Bakery</option>
<option value="2653">Plein Air Cafe &amp; Eatery</option>
<option value="2630">Rangoli</option>
<option value="2633">Ruth&#39;s Chris Steak House</option>
<option value="2643">Shake Shack</option>
<option value="2642">Skylark</option>
<option value="2651">Slurping Turtle</option>
<option value="2629">The Bagelers Coffeehouse</option>
<option value="2656">the palace</option>
<option value="2647">The Publican</option>
<option value="2650">The Southern</option>
<option value="2641">The Whistler</option>
<option value="2639">Umami Burger</option>
<option value="2637">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Dessert
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2519">
              Veggie Burger
            </a>
          </td>

          <td>
              <a href="/venues/2643">
                Shake Shack
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/2524">
              Watermelon Salad
            </a>
          </td>

          <td>
              <a href="/venues/2637">
                Unite Urban Grill
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Salad
            </span>
          </td>

        </tr>
      </table>

      <div class="card-footer text-center">
        
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <a href="/venues/new" class="btn btn-block btn-success">
      Add a new venue
    </a>
  </div>
</div>

  </div>