<div class="container mt-4">


    <div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...

            <div class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </div>
        </h4>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <form action="/create_bookmark" class="form-inline float-left" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="dish_id" value="<%= @dish.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">

            <!-- Label and input for venue_id -->
            <div class="form-group mr-sm-1">
              <label for="venue_id" class="control-label sr-only">
                Venue
              </label>

              
                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1">
                <option value="">Choose a venue...</option>
                
                <% @venues.each do |venue| %>
                <option value="<%= venue.id %>"><%= venue.name %></option>
                <% end %>
                </select>
                
            </div>

            <button class="btn btn-primary btn">
              <i class="fa fa-heart"></i>
            </button>
          </form>
          <small class="float-right text-muted">
            right now
          </small>
        </li>
        
        <% @dish.specialists.each do |specialist| %>

 <%     if Bookmark.where(:user_id => current_user.id, :venue_id => specialist.id, :dish_id => @dish.id).exists? %>
 
      <% bookmark_location = Bookmark.find_by(:user_id => current_user.id, :venue_id => specialist.id, :dish_id => @dish.id).id %>
       
          <li class="list-group-item">
            <p>
              <a href="/venues/<%= specialist.id %>">
                <%= specialist.name %>
              </a>

              <small class="float-right text-muted">
                <%= time_ago_in_words(Bookmark.find_by(:id => bookmark_location).created_at) %>

                <a href="/bookmarks/<%= bookmark_location %>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>

                <a href="/delete_bookmark/<%= bookmark_location %>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              </small>
            </p>

          </li>
          <% end %>
  <% end %>        
      </ul>

      <div class="card-footer text-center">
        <a href="/dishes" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>

  </div>